<div id="usuario" [ngClass] = "'home'">

  <app-logout></app-logout>

		<div class="btnArea">
			<a *ngIf="usuarioLogado.admin" [routerLink]="['/cadastro-edit', 0]" class="btn btnAdd">Cadastrar</a>
		</div>

		<div class="filter-area">
         <label>Filtro </label>
         <input placeholder="Filtre por nome, usuario, email ou celular" type="text" [(ngModel)]="filtro"/>
				 <div class="filter-btn-area">
				 	<input type="button" class="filtrar" (click)="filtrar()" value="Filtrar"/>
				 	<input type="button" class="resetar" (click)="resetar()" value="Resetar"/>
				</div>
   </div>

		<table id="usuarios">
		<tr>
			<th>Nome</th>
			<th>Usuario</th>
			<th>E-Mail</th>
			<th>Celular</th>
			<th>Tipo</th>
			<th *ngIf="usuarioLogado.admin">Editar</th>
			<th *ngIf="usuarioLogado.admin">Excluir</th>
		</tr>
		  <tr *ngFor="let usuario of usuarios">
			<td>{{ usuario.nome }}</td>
			<td>{{ usuario.usuario }}</td>
			<td>{{ usuario.email }}</td>
			<td>{{ usuario.celular }}</td>
			<td>
				<div>
					<div *ngIf="usuario.admin"><span class="admin">Administrador</span></div>
					<div *ngIf="!usuario.admin"><span class="comum">Comum</span></div>
				</div>
			</td>
			<td *ngIf="usuarioLogado.admin">
				<a [routerLink]="['/cadastro-edit', usuario.id]">
					<i class="material-icons">mode_edit</i>
				</a>
			</td>
			<td *ngIf="usuarioLogado.admin">
				<button (click)="deleteUsuario(usuario.id)"><i class="material-icons" >delete</i></button>
			</td>
		  </tr>
		</table>
	</div>
